<section>
    <select class="form-control" @onchange="ApplySort">
        <option value="-1">- Sort By -</option>
        <option value="loginId">LoginId</option>
        <option value="title">Title</option>
        <option value="title desc">Title DESC</option>
    </select>
</section>

@code {
    [Parameter]
    public EventCallback<string> OnSortChanged { get; set; }
    private async Task ApplySort(ChangeEventArgs eventArgs)
    {
        if (eventArgs.Value.ToString() == "-1")
            return;
        await OnSortChanged.InvokeAsync(eventArgs.Value.ToString());
    }
}
